code {
  font-family: 'Mulish';
  font-size: 14px;
}

code li {
  list-style: disc;
  margin: 10px;
  font-size: 17px;
  color: #82aaff;
}

code p{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1B1B1B;
  width: 98%;
  padding: 0.8rem;
  margin-bottom: 30px;
  font-weight: 600;

}

code svg {
  opacity: 0;
  border: 0.1rem solid white;
  border-radius: 6px;
  padding: 0.3rem;
}

code:hover svg {
  opacity: 0.2;
  transition: 0.3s;
}

code svg:hover {
  transition: 0.3s;
  opacity: 1;
  cursor: pointer;
}

.copy {
  width: 2rem;
  height: 2rem;
}