.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1B1B1B;
  height: 65px;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.header li  {
  width: 24px;
  height: 24px;
}

.header ul {
  display: flex;
  gap: 15px;
  align-items: end;
}

.header ul a svg:hover g{
 fill: #82aaff;
}
