.info {
  text-align: center;
}

.info p {  
  border-left: #464646 solid 1px;
  padding: 15px;
  font-size: 0.9rem;
  width: 200px;
  color: white;
  margin-bottom: 5px;
}

.info span {
  display: block;
  margin-top: 15px;
}