.info {
  text-align: center;
  border-left: #464646 solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

}

.info p {  
  padding: 15px;
  font-size: 0.9rem;
  width: 270px;
  color: white;
  margin-bottom: 5px;
}

.info span {
  display: block;
  margin-top: 15px;
}

.announcement {
  width: 250px;
}


.adupeex {
  display:block;
  background-color:#FFF;
}