@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  background-color: #1B1B1B;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  background-color: #1E1E1E;
  margin-bottom: 40px;
  padding-top: 60px;
  justify-content: space-between;
}

.content {
  width: 800px;
  min-height: 77vh;
  margin-left: 20px;
  color: white;
}

.content h1 {
  font-size: 30px;
  margin: 30px 0;
  color: #82aaff;
}

.content p {
  line-height: 25px;
}

li {
  list-style: none;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

a:hover {
  color: #82aaff;
}

h2 {
  color: #4c659b;
  margin-bottom: 15px;
} 


/* Personaliza a barra de rolagem */


/* Personaliza a parte da barra de rolagem */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
  height: 10px; /* Altura da barra de rolagem (para barras horizontais) */
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #1B1B1B; /* Cor do fundo da barra de rolagem */
  border-radius: 10px;
}

/* Personaliza o "polegar" (a parte que você arrasta) */
::-webkit-scrollbar-thumb {
  background: #82aaff; /* Cor do polegar */
  border-radius: 10px;
}

/* Personaliza o "polegar" quando está sendo pressionado */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor do polegar ao passar o mouse */
}

/* Para a barra de rolagem horizontal */
::-webkit-scrollbar-horizontal {
  height: 12px; /* Altura da barra de rolagem horizontal */
}

/* Para a barra de rolagem vertical */
::-webkit-scrollbar-vertical {
  width: 12px; /* Largura da barra de rolagem vertical */
}
